<!DOCTYPE html>
<html lang="es">
<head>
	<title>Ministerio de Relaciones Exteriores Y Culto</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" property="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css_para_ministerios/css_common.css">
	<script type="text/javascript" src="../../libs/jquery/jquery-2.2.1.min.js"></script>
	<script type="text/javascript" src="../../libs/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="../js_para_ministerios/common.js"></script> 	
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">DCU ACCESIBILIDAD</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Ministerios<span class="sr-only">(current)</span></a></li>
					<li><a href="../referencias/referencias.html">Referencias</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<div class="list-group list-group-horizontal">
					<a href="../../views/ministerios/ministeriodejusticia.html" class="list-group-item">Ministerio de justicia</a>
					<a href="../../views/ministerios/ministeriodeambiente.html" class="list-group-item">Ministerio de ambiente y desarrollo sustentable</a>
					<a href="../../views/ministerios/ministerioderelacionexterioryculto.html" class="list-group-item active">Ministerio de relaciones exteriores y culto</a>
					<a href="" class="list-group-item">Ministerio de agroindustria de la nación argentina</a>
					<a href="" class="list-group-item">Ministerio de turismo</a>
					<a href="../../views/ministerios/ministeriodesalud.html" class="list-group-item">Ministerio de salud</a>
					<a href="../../views/ministerios/ministeriodetrabajo.html" class="list-group-item">Ministerio de trabajo,empleo y seguridad social</a>
					<a href="../../views/ministerios/ministeriodeeducacion.html" class="list-group-item">Ministerio de educación</a>
					<a href="" class="list-group-item">Ministerio de desarollo social</a>
					<a href="../../views/ministerios/ministeriodeseguridad.html" class="list-group-item">Ministerio de seguridad</a>
					<a href="../../template.html" class="list-group-item list-group-item-info">Volver</a>
				</div>
				
			</div>
			<div class="col-md-9">
				<div class="jumbotron">
					<h3>Ministerio de Relaciones Exteriores Y Culto</h3>
				</div>
			</div>
			<div class="col-md-9">
				<div class="panel panel-info">
					<div class="panel-heading">
						Problemas:
					</div>
					<div class="panel-body text-center">
						<h4>Resultado validación w3school:</h4>
						<img src="../../imgs/ministerio_de_relaciones_exteriores_y_culto/errores_w3s_relaciones.png" class="img-responsive center-block" alt="Errores en html">
						<h4>Resultado validación accesibilidad:</h4>
						<img src="../../imgs/ministerio_de_relaciones_exteriores_y_culto/errores_accesibilidad_relaciones.png" class="img-responsive center-block" alt="Errores de accesibilidad">
						<h4>Descripción:</h4>
						<p>This is a placeholder text which porpose is to be extremy long to show how the panels breaks this in to a justified centered text. Normally this should be writed in latin but since im writing it my self i put it in english</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<!-- This div is here to keep order. -->
			</div>
			<div class="col-md-9">
				<div class="panel panel-info">
					<div class="panel-heading">
						Soluciones:
					</div>
					<div class="panel-body">

					</div>
				</div>
			</div>
		</div>
		<div class="row">
		</div>
		<div class="row">
			<div class="col-md-12"></div>
		</div>
	</div>
</body>
</html>